@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body > div {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}

.palette {
    color: #26532B;
    color: #399E5A;
    color: #5ABCB9;
    color: #63E2C6;
    color: #6EF9F5;
}

.main {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    width: 100%;
}

.main_menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 15%;
    background-color: #26532B;
}

.main_display {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 85%;
    overflow-y: scroll;
}

.menu_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.menu_list_item {
    background-color: #399E5A;
    padding: 1rem;
    width: 80%;
    text-align: center;
    cursor: pointer;
    border-radius: .4rem;
    transition: .4s;
}


.menu_list_item:hover {
    background-color: #63E2C6;
    transition: .4s;
}

.menu_list_item:active {
    background-color: #399E5A;
    transition: .4s;
}


.menu_list_item_active {
    background-color: #062e0b;
    color: white;
}

.home_header {
    background-color: #5abcb963;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.244);
    padding: 1.4rem;
}

.home_header > div:nth-child(1) {
    font-size: xx-large;
}

.home_header_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

button {
    font-size: 1rem;
    padding: .4rem 1rem;
    background-color: transparent;
    border-radius: .4rem;
    border: 2px solid #2ba5a167;
    cursor: pointer;
}

button:hover {
    border-color: #14cec867;
    background-color: #2ba5a167;
}


button:active {
    border-color: #2ba5a167;
    background-color: transparent;
}

.home_body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
}

.chart_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart_container >div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.senate_page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.6rem;
    gap: 1rem;
}

.parties_seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.party_card {
    height: 22rem;
    width: 15rem;
    background-color: #a7f0ec65;
    border-radius: .4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.283);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: .4rem 1.4rem;
}

.party_table {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .4rem;
}

.party_table > table > tr > th {
    border-bottom: 1px solid black;
}

.pending_laws_table {
    border-radius: .4rem;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.232);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
}

.pending_laws_table > table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.pending_laws_table_row:nth-child(2n) {
    background-color: #a7f0ec3b;
}

.pending_laws_table_row:nth-child(1) {
    background-color: #80dbd644;
}

.pending_laws_table_row > th:nth-child(1), .pending_laws_table_row > td:nth-child(1) {
    width: 40%;
}

.pending_laws_table_row > th, .pending_laws_table_row > td {
    padding: 1rem 2rem;
}

.votes_buttons {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.votes_buttons > button {
    cursor: pointer;
}

.votes_buttons > button:nth-child(1) {
    border-color: rgb(3, 104, 3);
}

.votes_buttons > button:nth-child(1):hover {
    background-color: rgba(152, 195, 152, 0.761);
    color: white;
}

.votes_buttons > button:nth-child(2) {
    border-color: rgb(110, 110, 110);
}

.votes_buttons > button:nth-child(2):hover {
    background-color: rgba(91, 91, 91, 0.561);
    color: white;
}

.votes_buttons > button:nth-child(3) {
    border-color: rgb(104, 3, 3);
}

.votes_buttons > button:nth-child(3):hover {
    background-color: rgba(154, 25, 25, 0.683);
    color: white;
}

.votes_buttons > button:nth-child(n):active {
    background-color: transparent;
    color: black;
}

.vote_button:nth-child(1) {
    background-color: rgb(9, 97, 9);
    color: white;
}

.vote_button:nth-child(2) {
    background-color: rgb(60, 60, 60);
    color: white;
}

.vote_button:nth-child(3) {
    background-color: rgb(117, 0, 0);
    color: white;
}

.senate_page_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textEditor {
    background-color: rgba(0, 0, 0, 0.232);
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textEditorWindow {
    margin: 4rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    min-height: 70%;
    max-height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}


.ProseMirror:focus-visible, .editor-container:focus-visible {
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
}

.textEditorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.textEditorInputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.textEditorInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.textEditorInput > input {
    border: 3px solid black;
    padding: .4rem;
    border-radius: .4rem;
}

.textEditorInput > select {
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.305);
    padding: .4rem;
    appearance: none;
    cursor: pointer;
}
.textEditorInput > select > option {
    padding: .4rem;
    font-style: italic;
}

.overflowA {
    overflow-y: scroll;

}

.parties_page, .parties_body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.parties_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: #a7f0ec3b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.336);
    padding: 1.4rem;
}

.parties_body {
    padding: 2rem;
}

.parties_actions {
    padding: 1rem;
    border-radius: .4rem;
    background-color: #a7f0ec3b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.laws_page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.laws_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    height: 6rem;
    background-color: #5abcb966;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.261);
}

.laws_body {
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.laws_seccion {
    border-radius: 1rem;
    min-height: 4rem;
    padding: 1rem;
    background-color: #63e2c683;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.322);
    display: flex;
    align-items: stretch;
}

.laws_seccion_menu {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}