@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: 'Roboto Slab', serif;
    color: rgba(39,49,61, 1);;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body > div {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}

.palette {
    color: rgba(55,72,90, 1);
    color: rgba(71,132,182, 1);
    color: rgba(157,195,235, 1);
    color: rgba(221,232,246, 1);
    color: rgba(71,132,182, 0.08);
}

.main {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    width: 100%;
}

.main_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .4rem;
    min-width: 5%;
    background-color: rgba(71,132,182, 1);
}

.main_display {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 94%;
    overflow-y: scroll;
}

.menu_list {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    width: 3rem;
}

.menu_list_item {
    color: rgb(233, 233, 233);
    background-color: rgba(45, 95, 137, 0.88);
    padding: .8rem;
    width: 43%;
    text-align: center;
    cursor: pointer;
    border-radius: 2rem;
    transition: .4s;
}


.menu_list_item:hover {
    background-color: grey;
    transition: .4s;
}

.menu_list_item:active {
    background-color: rgba(45, 95, 137, 0.88);
    transition: .4s;
}


.menu_list_item_active {
    background-color: black;
    color: white;
}

.home_header {
    background-color: white;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.244);
    padding: 1.4rem;
}

.home_header > div:nth-child(1) {
    font-size: xx-large;
}

.home_header_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

button {
    font-size: 1rem;
    padding: .4rem 1rem;
    background-color: transparent;
    border-radius: .4rem;
    border: 2px solid rgba(157,195,235, 1);
    cursor: pointer;
    transition: .4s;
}

button:hover {
    border-color: rgba(71,132,182, 1);
    background-color: rgba(157,195,235, 1);
    transition: .4s;
}


button:active {
    border-color: rgba(157,195,235, 1);
    background-color: transparent;
    transition: .4s;
}

.home_body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
}

.chart_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart_container >div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.senate_page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.6rem;
    gap: 1rem;
}

.parties_seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.party_card {
    height: 22rem;
    width: 15rem;
    background-color: rgba(221,232,246, 0.3);
    border-radius: .4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.283);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: .4rem 1.4rem;
}

.party_table {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .4rem;
}

.party_table > table > tr > th {
    border-bottom: 1px solid black;
}

.pending_laws_table {
    border-radius: .4rem;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.232);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
}

.pending_laws_table > table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.pending_laws_table_row:nth-child(2n) {
    background-color: rgba(221,232,246, 1);
}

.pending_laws_table_row:nth-child(1) {
    background-color: rgb(152, 190, 239);
}

.pending_laws_table_row > th:nth-child(1), .pending_laws_table_row > td:nth-child(1) {
    width: 40%;
}

.pending_laws_table_row > th, .pending_laws_table_row > td {
    padding: 1rem 2rem;
}

.votes_buttons {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.votes_buttons > button {
    cursor: pointer;
}

.votes_buttons > button:nth-child(1) {
    border-color: rgb(3, 104, 3);
}

.votes_buttons > button:nth-child(1):hover {
    background-color: rgba(152, 195, 152, 0.761);
    color: white;
}

.votes_buttons > button:nth-child(2) {
    border-color: rgb(110, 110, 110);
}

.votes_buttons > button:nth-child(2):hover {
    background-color: rgba(91, 91, 91, 0.561);
    color: white;
}

.votes_buttons > button:nth-child(3) {
    border-color: rgb(104, 3, 3);
}

.votes_buttons > button:nth-child(3):hover {
    background-color: rgba(154, 25, 25, 0.683);
    color: white;
}

.votes_buttons > button:nth-child(n):active {
    background-color: transparent;
    color: black;
}

.vote_button:nth-child(1) {
    background-color: rgb(9, 97, 9);
    color: white;
}

.vote_button:nth-child(2) {
    background-color: rgb(60, 60, 60);
    color: white;
}

.vote_button:nth-child(3) {
    background-color: rgb(117, 0, 0);
    color: white;
}

.senate_page_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textEditor {
    background-color: rgba(0, 0, 0, 0.232);
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textEditorWindow {
    margin: 4rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    min-height: 70%;
    max-height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}


.ProseMirror:focus-visible, .editor-container:focus-visible {
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
}

.textEditorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.textEditorInputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.textEditorInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.textEditorInput > input {
    border: 3px solid black;
    padding: .4rem;
    border-radius: .4rem;
}

.textEditorInput > select {
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.305);
    padding: .4rem;
    appearance: none;
    cursor: pointer;
}
.textEditorInput > select > option {
    padding: .4rem;
    font-style: italic;
}

.overflowA {
    overflow-y: scroll;

}

.parties_page, .parties_body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.parties_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.336);
    padding: 1.4rem;
}

.parties_body {
    padding: 2rem;
    gap: 2rem;
}

.parties_actions {
    margin-top: 20rem;
    padding: 1rem;
    border-radius: .4rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.laws_page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.laws_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    height: 6rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.261);
}

.laws_body {
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.laws_seccion {
    border-radius: 1rem;
    min-height: 4rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.322);
    display: flex;
    align-items: stretch;
}

.laws_seccion_menu {
    width: 15%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    background-color: rgba(221,232,246, 1);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 2px 0 rgba(0, 0, 0, 0.177);
}

.laws_menu_button>button {
    width: 100%;
}


.laws_seccion_body {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
}
.law_container {
    background-color: rgba(221,232,246, 1);
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.law_container:nth-child(2n) {
    background-color: rgb(238, 243, 249);
}

.law_container:first-child {
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    background-color: rgb(180, 207, 241);
}


.law_container > div:nth-child(1) {
    width: 30%;
    font-weight: 600;
}

.menu_list_item > svg > path {
    color: white;
}
.parties_body_list {
    border-radius: 1rem;
    background-color: rgba(157,195,235, 1);
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.parties_body_list_row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    gap: 1rem;
}

.parties_body_list_row:nth-child(2n) {
    background-color: rgba(221,232,246, 1);
}

.parties_body_list_row:nth-child(2n+ 1) {
    background-color: rgb(198, 223, 255);
}

.parties_body_list_row:first-child {
    background-color: transparent;
}

.parties_body_list_row:last-child {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.parties_color {
    border: 2px solid rgb(89, 89, 89);
    border-radius: .2rem;
}


.parties_members_list_row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    gap: 1rem;
}

.parties_members_list_row:nth-child(2n) {
    background-color: rgba(221,232,246, 1);
}

.parties_members_list_row:nth-child(2n+ 1) {
    background-color: rgb(198, 223, 255);
}

.parties_members_list_row:first-child {
    background-color: transparent;
}

.parties_members_list_row:last-child {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


.parties_members_list_row_a {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    gap: 1rem;
}

.parties_members_list_row_a:nth-child(2n) {
    background-color: rgba(221,232,246, 1);
}

.parties_members_list_row_a:nth-child(2n+ 1) {
    background-color: rgb(198, 223, 255);
}

.parties_members_list_row_a:first-child {
    background-color: transparent;
}

.parties_members_list_row_a:last-child {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.members_button {
    border-color: rgb(97, 5, 5);
}

.members_button:hover {
    border-color: rgb(156, 11, 11);
    background-color: rgb(97, 5, 5);
    color: white;
}

.alert_notification {
    background-color: rgb(97, 5, 5);
    padding: 1rem;
    margin: 1rem;
    border-radius: .4rem;
    color: white;
    text-align: center;
}

.alert_notification > div {
    color: white;
}

.alert_notification > div:first-child {
    font-weight: bold;
}

.promote_card {
    min-height: 8rem;
    min-width: 24rem;
    background-color: aliceblue;
    margin: 15%;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    gap: .6rem;
}

.promote_name {
    font-weight: bold;
    font-size: larger;
}

.roles_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .4rem;
}

.role_row_format {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.parties_creator_box {
    min-width: 20rem;
    min-height: 12rem;
    background-color: rgb(192, 212, 238);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem 3rem;
}

.parties_creator_names {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parties_creator_names > div {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

:focus-visible {
    outline: 0;
}

input {
    padding: .4rem;
    border: 0;
    border-radius: .4rem;
    background-color: rgba(221,232,246, 1);
}